In [1]:
import pandas as pd

In [2]:
#get country vaccine data
vaccine_df = pd.read_csv('country_vaccinations.csv')
vaccine_df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm...",World Health Organization,https://covid19.who.int/

In [3]:
#drop columns that aren't needed
vaccine_df = vaccine_df.drop(['source_name','source_website','iso_code','daily_vaccinations_raw'], axis=1)
vaccine_df.head()

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."

In [4]:
#isolate the most recent data
max_date_df = pd.DataFrame(vaccine_df.groupby('country')['date'].max())

In [5]:
cleaned_vaccine_df = pd.merge(max_date_df, vaccine_df, on = ['country', 'date'])
cleaned_vaccine_df

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,2021-05-30,600152.0,480226.0,119926.0,4746.0,1.54,1.23,0.31,122.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
1,Albania,2021-05-31,776461.0,486128.0,290333.0,7332.0,26.98,16.89,10.09,2548.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,Algeria,2021-02-19,75000.0,NaN,NaN,3748.0,0.17,NaN,NaN,85.0,Sputnik V
3,Andorra,2021-05-17,32317.0,27613.0,4704.0,98.0,41.83,35.74,6.09,1268.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
4,Angola,2021-05-31,909215.0,679034.0,230181.0,12888.0,2.77,2.07,0.70,392.0,Oxford/AstraZeneca
...,...,...,...,...,...,...,...,...,...,...,...
209,Wales,2021-05-29,3253356.0,2141427.0,1111929.0,22975.0,103.19,67.92,35.27,7287.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
210,Wallis and Futuna,2021-05-25,8283.0,4352.0,3931.0,15.0,73.65,38.70,34.95,1334.0,Oxford/AstraZeneca
211,Yemen,2021-05-29,104070.0,104070.0,NaN,4276.0,0.35,0.35,NaN,143.0,Oxford/AstraZeneca
212,Zambia,2021-05-30,147033.0,141747.0,5286.0,1262.0,0.80,0.77,0.03,69.0,"Oxford/AstraZeneca, Sinopharm/Beijing"
213,Zimbabwe,2021-05-31,1020078.0,675678.0,344400.0,15022.0,6.86,4.55,2.32,1011.0,Sinopharm/Beijing

In [7]:
#get UN country data
un_df = pd.read_csv("country_profile_variables.csv")

In [8]:
#drop columns
un_df = un_df.drop(['GDP growth rate (annual %, const. 2005 prices)','Economy: Agriculture (% of GVA)','Economy: Industry (% of GVA)','Economy: Services and other activity (% of GVA)','Employment: Agriculture (% of employed)','Employment: Industry (% of employed)','Employment: Services (% of employed)','Labour force participation (female/male pop. %)','Agricultural production index (2004-2006=100)','Food production index (2004-2006=100)','International trade: Exports (million US$)','International trade: Imports (million US$)','International trade: Balance (million US$)','Balance of payments, current account (million US$)','Fertility rate, total (live births per woman)','International migrant stock (000/% of total pop.)','Refugees and others of concern to UNHCR (in thousands)','Infant mortality rate (per 1000 live births','Education: Government expenditure (% of GDP)','Education: Primary gross enrol. ratio (f/m per 100 pop.)','Education: Secondary gross enrol. ratio (f/m per 100 pop.)','Education: Tertiary gross enrol. ratio (f/m per 100 pop.)','Seats held by women in national parliaments %','Mobile-cellular subscriptions (per 100 inhabitants)','Mobile-cellular subscriptions (per 100 inhabitants)','Individuals using the Internet (per 100 inhabitants)','Threatened species (number)','Forested area (% of land area)','CO2 emission estimates (million tons/tons per capita)','Energy production, primary (Petajoules)','Energy supply per capita (Gigajoules)','Pop. using improved drinking water (urban/rural, %)','Pop. using improved sanitation facilities (urban/rural, %)','Net Official Development Assist. received (% of GNI)'], axis=1)
un_df.head()

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),GDP per capita (current US$),Unemployment (% of labour force),Population growth rate (average annual %),Urban population (% of total population),Urban population growth rate (average annual %),"Life expectancy at birth (females/males, years)","Population age distribution (0-14 / 60+ years, %)",Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Mobile-cellular subscriptions (per 100 inhabitants).1
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,623.2,8.6,3.2,26.7,4.0,63.5/61.0,43.2/4.1,8.2,0.3,8.3
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,3984.2,15.8,-0.1,57.4,2.2,79.9/75.6,17.4/19.0,5.9,1.3,63.3
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,4154.1,11.4,2.0,70.7,2.8,76.5/74.1,29.3/9.4,7.2,...,38.2
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99.0,...,-~0.0,87.2,-0.1,77.8/71.1,33.3/9.0,-99.0,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,39896.4,-99,-1.6,85.1,0.1,-99,14.4/19.0,8.1,3.7,96.9

In [9]:
#Get 2019 Data
CSV_2019 = "2019.csv"

etl2019_df = pd.read_csv(CSV_2019)
etl2019_df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [10]:
etl2019_df = etl2019_df.drop(['Overall rank','GDP per capita'], axis = 1)

etl2019_df.head()

,Country or region,Score,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.769,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.522,0.999,0.557,0.322,0.298