In [1]:
# Dependencies and Setup
# HS
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#Get 2019 Data
CSV_2019 = "2019.csv"

etl2019_df = pd.read_csv(CSV_2019)
etl2019_df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [2]:
# Drop unecessary/redundant columns
#HS
etl2019_df = etl2019_df.drop(['Overall rank','GDP per capita'], axis = 1)

etl2019_df.head()

,Country or region,Score,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.769,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.522,0.999,0.557,0.322,0.298

In [3]:
#Check for nulls
etl2019_df.count()

Country or region               156
Score                           156
Social support                  156
Healthy life expectancy         156
Freedom to make life choices    156
Generosity                      156
Perceptions of corruption       156
dtype: int64